

    div {
      font-family: 'blanchcaps_inline', sans-serif;
      text-align: center;
      font-weight: normal;
      margin: 0;
    }
    body {
      background: #d4d4d4;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-family: 'Open Sans', sans-serif;
      font-size: 2rem;
    }
    h1 {
      font-family: 'blanchcaps_inline', sans-serif;
      text-align: center;
      font-weight: normal;
      margin: 0;
    }
    button,
    input[type=submit] {
      text-transform: uppercase;
      background: none;
      border: 1px solid #000;
      font-weight: 600;
      font-size: 1.5rem;
      font-family: 'Open Sans';
      -webkit-transition: all 0.2s;
      transition: all 0.2s;
      position: relative;
      z-index: 2;
    }